
.playlistsong-wrapper{
    /* #2b5876 */
    width: 500px;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background: -webkit-linear-gradient(to right, #2b5876, #1F284D);  
    background:linear-gradient(to right, #2b5876, #1F284D); 
    border-radius: 5px;
}
.playing{
    background: #141414; 

}
.playlistsong-wrapper:hover{
    background: #141414; 
}
.playlistsong-img{
    position: relative;
    padding: 10px;
    grid-area: 1 / 1 / 4 / 2;
    
}
.playlistsong-title{
    position: relative;
    top:10px;
    grid-area: 1 / 2 / 2 / 3;
    color: white;
    display: block;
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.playlistsong-time{
    position: relative;
    grid-area: 1 / 3 / 2 / 4;
    top:90%;
    left: 20%;
    color: #b3b3b3;
}
.playlistsong-artist{
    grid-area: 2 / 2 / 3 / 3;
    color: #b3b3b3;
}

.play-button{
    position: relative;
    grid-area: 1 / 4 / 2 / 5;
    top:80%;
    
}
