.Chatbot-cover{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    background-color: #d2dfff;
}
.chat-container{
    height: 85vh;
    width: 85vw;
    background-color: #ffffff;
}

.top-Container{
    background-image: radial-gradient(circle, #581b98, #521691, #4c118a, #460c84, #40067d);
    width: 100%;
    height: 10%;
}
.top-Container:after {
    content: "";
    display: table;
    clear: both;
}
.top-col{
    float: left;
}
.avatar{
    width: 5%;
}
.user-img{
    height: 55px;
    width: 55px;
    padding: 0;
    margin-left: 50px;
    margin-top: 4px;
    border-radius: 100px;
    border: 5px solid #d70056;
}
.top-title{
    width: 95%;
}

.top-title h4{
    padding: 25px;
    margin-left: 20px;
    font-size: 30px;
    line-height: 15px;
    font-weight: bolder;
    color: #d70056;
}

.chat-msgSec{
    overflow: scroll;
    overflow-x: hidden;
    height: 70vh;
    margin-left: 50px;
}

.chat-inSec{
    height: 55px;
    background-image: radial-gradient(circle, #581b98, #521691, #4c118a, #460c84, #40067d);
    bottom: 0;
}

.chat-inSec .chat-control{
    width: 60%;
    padding: 10px 10px;
    color: #1f1f1f;
    float: left;
    margin-left: 180px;
    margin-top: 8px;
    border-radius: 15px;
    font-size: 15px;
    border: 1px solid #fff;
}

.chat-inSec .chat-send{
    width: 10%;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 10px;
    float: left;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 10px;
    margin-top: 8px;
    border-radius: 15px;
    text-transform: uppercase;
    outline: none;
    border: 2px solid #fb3e3e;
    color: #fff;
    text-align: center;
}

.chat-inSec .chat-send:hover{
    background-image: linear-gradient(to top, #fe5196 10%, #f77062 90%);
}

.msg-send{
    flex-wrap: wrap;
    margin-bottom: 10px;
    border-radius: 100px;
    margin-right: 300px;
    background-color: #FEA8F8;
    padding: 20px;
    padding-bottom: 20px;
    width: auto;
    color: #521691;
    float: right;
    display: block;
}
.msg-recieve{
    flex-wrap: wrap;
    margin-bottom: 10px;
    border-radius: 100px;
    margin-right: 300px;
    background-color: #D4AAFF;
    padding: 20px;
    padding-bottom: 20px;
    width: auto;
    color: #521691;
    float: left;
    display: block;
}


    
    
    